/*------------------------------------------------------------------------------------*/
/*--------------------------------GENERALES-------------------------------------------*/
/*------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    padding: 50px;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;

}

.header {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;



}

/*------------------------------------------------------------------------------------*/
/*--------------------------------TEXTO-------------------------------------------*/
/*------------------------------------------------------------------------------------*/

.textos {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding: 40px;
    padding-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    min-width: 500px;

/*COMPROBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAR*/
    /* position: relative; /* Asegura que el contenedor sea el contexto de posicionamiento */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
    height: 300px; /* Ajusta la altura del contenedor según sea necesario */

}

.efecto{
    position: absolute; /* Posiciona la imagen dentro del contenedor */
    bottom: 0; /* Coloca la imagen inicialmente en la parte inferior */
    transform: translateY(0); /* Inicia la imagen en su posición original */

    /* Aplica transiciones para transformaciones y opacidad */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.textos.desaparecer .efecto{
transform: translateY(-100%); /* Mueve la imagen hacia arriba */
    opacity: 0; /* Hace que la imagen se desvanezca gradualmente */
} 
/*COMPROBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAR*/


/*-----------------Mesa---------------------*/

.txt-mesa {
    display: none;
    flex-direction: column;

}

/*----------------- Texto Silla---------------------*/
.txt-silla {
    flex-direction: column;
}

/*-----------------Textos generales---------------------*/
.txt-autor {
    color: #555;
    font-size: 0.875rem;
    margin-bottom: 10px;
}

.txt-titulo {
    color: #000;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    padding: 15px;
    padding-left: 0;
}

.txt-descripcion {
    color: #777;
    font-size: 0.875rem;
    margin: 0;
    padding: 30px;
    padding-left: 0;
}

/*-----------------Cuadrito Details---------------------*/

.details {
    padding: 20px;
    color: white;
    width: 170px;
    height: auto;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-content: center;

}



/*------------------------------------------------------------------------------------*/
/*--------------------------------IMAGENES-------------------------------------------*/
/*------------------------------------------------------------------------------------*/

.img-mesa {
    display: none
}

.imagenes {
    border: 1px solid pink;

    height: auto;
    /* Ajusta la altura automáticamente para mantener la proporción */
    max-width: 100%;
    /* Evita que la imagen sea más grande que su contenedor */

}




/*------------------------------------------------------------------------------------*/
/*--------------------------------FOOTER-------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/*-----------------General---------------------*/
.footer {

    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    background-color: #e7e5e5;
    width: 100wv;


}

.footer-numero {
    color: #777;
    font-weight: bold;
    
}

.footer-nombre {
    color: #000;
    font-weight: bold;
   
}

/*-----------------General + Transición Opacidad---------------------*/
.footerSilla,
.footerMesa {
    display: inline-block;
    flex-direction: column;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;;
    width: 170px;
    height: auto;
    justify-content: left;
    position: relative;
    border: 0cm;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    
}
.footerSilla.completa,
.footerMesa.completa {
    opacity: 1;
    
}


/*-----------------Barrita + Transición Width---------------------*/


.barrita-silla .barrita-mesa{
    height: 10px;
    width: 0px;
    flex-direction: row;
    background-color: gray;
    transition: width 2s ease;
    border-radius: 15px ;
    position: absolute;
    top: -12px;
    
    

}

.barrita-silla.completa .barrita-mesa.completa{
   width: 170px;
   background-color: gray;
   opacity: 1;
   
}




